.service__img{
  z-index: 8;
  width: 488px;
  position: absolute;
  top: 14%;
  right: 10%;
}

.hero-service__left{
  width: 500px;
  margin-bottom: 70px;
}

.job__title{
  color: #01D0CC;
  font-size: 20px;
}

.job__item{
  display: flex;
  align-items: center;
  padding: 15px 10px;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;;
  border-bottom: 1px solid #00000099;
  transition: 0.3s all ease;
}

.job__item:last-child{
  border-bottom: none;
}

.job__item:hover{
  color: #01D0CC;
}

.we-2{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 200px 265px 145px;
  background-color: #FAFAFA;
}

.service__plans{
  background-color: #fff;
  text-align: center;
  padding: 135px 0 150px;
  position: relative;
}

@media only screen and (max-width: 1370px){
  .about__img{
    position: static;
    max-width: 400px;
    width: 100%;
  }

  .about{
    padding: 20px 40px;
    justify-content: space-between;
  }

  .about__serve{
    padding-bottom: 300px;
  }
}